module.exports = {
  dev: {
    port: 1234, // 开发模式端口号
    target: '', // 开发模式 api 转发地址
    notValidated: true
  },
  publicPath: '', // api 前缀
  showConsoleLog: false, // 是否显示前端日志
  productionSourceMap: false // 上线版本是否启用 sourcemap
}
