/*
  *************************************  样式重置 *******************************************
  */
.body {
  font-family: PingFangSC-Regular,"Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
  font-size: 12px;
  // 优化字体渲染
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
img, input, button, textarea {
  border: none;
}
input, button {
  outline: none;
  &:focus {
    outline: none;
  }
}
textarea {
  resize: none;
}
// h1, h2, h3, h4, h5, h6
h1, h2, h3, h4, h5, h6, a, input, select, button, option, textarea {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  line-height: inherit;
  color: inherit;
  outline: none;
}

/*取消部分浏览器`input[type='number']`的默认样式*/
input[type='number'] {
    -moz-appearance: textfield;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    margin: 0;
    -webkit-appearance: none;
}
